
mixin pagination(segment, pages, offset, limit)
    -var back = segment, forth = segment
    -var k = (segment - 1) * 10 + 1
    -var n = (k + 10 <= pages ? k + 10 : pages + 1)
    -var offsetLocal = (k - 1) * limit
    -var previous = offset - limit * 10
    if (segment === 1)
      a «
    else
      a(href='/search?segment=' + --back +'&offset=' + previous + '&limit=' + limit) «
    -for (var i = k; i < n; ++i)
      if (offset === offsetLocal)
        a.active(href='/search?segment=' + segment + '&offset=' + offsetLocal + '&limit=' + limit) #{k++}
      else
        a(href='/search?segment=' + segment + '&offset=' + offsetLocal + '&limit=' + limit) #{k++}
      -offsetLocal = limit * i
    if (k > pages)
      a »
    else
      a(href='/search?segment=' + ++forth + '&offset=' + offsetLocal + '&limit=' + limit) »
